@import "tailwindcss";

/* Enables class-based dark mode (.dark on <html>) */
@custom-variant dark (&:where(.dark, .dark *));

/* ----------------------------- */
/* Light Theme                   */
/* ----------------------------- */

:root {
  --background: #c5c5c5ce;
  --foreground: #252525;

  --navbar-background: #b3b3b3;
  --navbar-foreground: #000000;
  --navbar-foreground-hover: #252799;
  --navbar-button-background: #000000;
  --navbar-button-foreground: #ffffff;


  --card: #ffffff;
  --card-foreground: #18181b;

  --popover: #ffffff;
  --popover-foreground: #18181b;

  --primary: #18181b;
  --primary-foreground: #ffffff;

  --hero-foreground: #ffffff;

  --secondary: #f4f4f5;
  --secondary-foreground: #18181b;

  --muted: #f4f4f5;
  --muted-foreground: #71717a;

  --accent: #3c4049;
  --accent-foreground: #ffffff;

  --accent-gradient: linear-gradient(
    to bottom right,
    #6366f1,
    #9333ea
  );

  --success: #16a34a;
  --warning: #ca8a04;
  --destructive: #dc2626;

  --border: #e4e4e7;
  --input: #e4e4e7;
  --ring: #4d4d4d;

  --sidebar: #18181b;
  --sidebar-foreground: #fafafa;

  --surface: #ffffff;
}

/* ----------------------------- */
/* Dark Theme                    */
/* ----------------------------- */

.dark {
  --background: #18181b;
  --foreground: #fafafa;

  --navbar-background: #080808;
  --navbar-foreground: #8a8a8a;
  --navbar-button-background: #ffffff;
  --navbar-button-foreground: #000000;

  --card: #27272a;
  --card-foreground: #fafafa;

  --popover: #27272a;
  --popover-foreground: #fafafa;

  --primary: #fafafa;
  --primary-foreground: #18181b;

  --hero-foreground: #777777;

  --secondary: #27272a;
  --secondary-foreground: #fafafa;

  --muted: #3f3f46;
  --muted-foreground: #a1a1aa;

  --accent: #3b82f6;
  --accent-foreground: #ffffff;

  --accent-gradient: linear-gradient(
    to bottom right,
    #6366f1,
    #9333ea
  );

  --success: #22c55e;
  --warning: #facc15;
  --destructive: #ef4444;

  --border: #3f3f46;
  --input: #3f3f46;
  --ring: #9c9c9c;

  --sidebar: #09090b;
  --sidebar-foreground: #fafafa;

  --surface: #27272a;
}

/* ----------------------------- */
/* Tailwind Design Tokens        */
/* ----------------------------- */

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-navbar-background: var(--navbar-background);
  --color-navbar-foreground: var(--navbar-foreground);
  --color-navbar-foreground-hover: var(--navbar-foreground-hover);
  --color-navbar-button-background: var(--navbar-button-background);
  --color-navbar-button-foreground: var(--navbar-button-foreground);
  
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-hero-foreground: var(--hero-foreground);
  
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-success: var(--success);
  --color-warning: var(--warning);
  --color-destructive: var(--destructive);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --color-navbar: var(--navbar);
  --color-navbar-foreground: var(--navbar-foreground);

  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);

  --color-surface: var(--surface);
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-poppins);
  background: var(--background);
  color: var(--foreground);
}